:host {
  --brand-grey-dark: #5b5b5b;
  --brand-white: #ffffff;
}

/* Dialog container */
.confirm-card {
  width: 400px;
  max-width: 90vw;
  padding: 20px 20px 20px;
  text-align: center;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0 12px 36px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
  transition: transform 0.2s ease-in-out;
}

/* Title */
.confirm-title {
  font-size: 20px;
  font-weight: 600;
  color: #1f2937;
  margin-top: 8px;
}

/* Message */
.confirm-message {
  font-size: 14px;
  color: #28292c;
  margin: 0 10px;
  line-height: 1.5;
}

/* Buttons layout */
.confirm-actions {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 16px;
}

/* Cancel button style */
.btn-cancel {
  padding: 0.25rem ;
  border-radius: 6px;
  min-width: 100px;
  height: 40px;
  font-size: 1rem;
  font-weight: 600;
  background: var(--brand-grey-dark);
  color: var(--brand-white);
  transition: all 0.2s ease-in-out;
}

.btn-cancel:hover {
  background: black;
}


/* Delete button style */
.btn-delete {
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  min-width: 100px;
  height: 40px;
  background: #FF7900;
  color: #fff;
  font-weight: 600;
  border: none;
  transition: all 0.2s ease-in-out;
}

.btn-delete:hover {
  background: #e86c00 !important;
}

/* Responsive */
@media (max-width: 420px) {
  .confirm-card {
    width: 95vw;
    padding: 20px 14px;
  }

  .btn-cancel,
  .btn-delete {
    min-width: 100px;
    height: 36px;
    font-size: 10px;
  }
}
