<main class="login-container">
    <h1 class="login-title">Login</h1>
    <div class='my-alert my-alert-warning' *ngIf="invalidLogin">Invalid Credentials</div>
    <form class="login-form">
        <div class="form-group">
            <i class="fa fa-user icon"></i>
            <input type="text" name="email" class="form-input" placeholder="Username" [(ngModel)]="username" required>
        </div>

        <div class="form-group">
            <i class="fa fa-lock icon"></i>
            <input [type]="showPassword ? 'text' : 'password'" name="password" class="form-input" placeholder="Password"
                [(ngModel)]="password" required>
            <i class="fa toggle-icon" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
                (click)="showPassword = !showPassword"></i>
        </div>

        <button type="button" class="btn-submit" (click)=onLogin()>Sign In</button>
    </form>

</main>