nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 5%;
    align-items: center;
    background: #18283B;
}

.logo {
    font-weight: bold;
    font-size: 22px;
    cursor: default;
    color:#2979FF;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

ul li a {
    cursor: pointer;
    color: #FFF;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 7px;
    transition: all .3s ease;
    font-weight: 500;
    font-weight: bold;

}
