<nav>
  <div class="nav-left">
    <div class="logo-container" (click)="onClickHome()">
      <img src="assets/orange-logo.svg" alt="Orange Logo" class="logo-image">
      <div class="logo">Room Booking</div>
    </div>
    <div class="welcome-message">Welcome, {{ username }}</div>
  </div>
  <ul>
    <li><a (click)="onClickMyBooking()" class="home-link">My Booking</a></li>
    <li><a (click)="onClickcalendarView()" class="home-link">Calendar View</a></li>
    <li><a (click)="logout()" class="logout-link">Logout</a></li>
  </ul>
</nav>