<nav role="navigation">
  <div class="nav-left">
    <div class="logo-container" (click)="onClickHome()">
      <img src="assets/orange-logo.svg" alt="Orange Logo" class="logo-image">
      <div class="logo">Room Booking</div>
    </div>
    <div class="welcome-message">Welcome, {{ username }}</div>
  </div>
  <ul class="nav nav-tabs nav-tabs-light" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link" 
         [class.active]="isActiveRoute('/dashboard')" 
         [attr.aria-current]="isActiveRoute('/dashboard') ? 'page' : null"
         (click)="onClickHome()" 
         role="tab" 
         tabindex="0">Home</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" 
         [class.active]="isActiveRoute('/my-booking')" 
         [attr.aria-current]="isActiveRoute('/my-booking') ? 'page' : null"
         (click)="onClickMyBooking()" 
         role="tab" 
         tabindex="0">My Booking</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" 
         [class.active]="isActiveRoute('/calendar-view')" 
         [attr.aria-current]="isActiveRoute('/calendar-view') ? 'page' : null"
         (click)="onClickcalendarView()" 
         role="tab" 
         tabindex="0">Calendar View</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link logout-link" 
         (click)="logout()" 
         role="tab" 
         tabindex="0">Logout</a>
    </li>
  </ul>
</nav>