<div class="container">

    <table class="booking-table booking-table-bordered booking-table-hover booking-table-striped">

        <thead>
            <tr>
                <th>#</th>
                <th>Description</th>
                <th>Room</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Type</th>
                <th>Recurring option</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>Team Meeting</td>
                <td>Room A</td>
                <td>2025-09-16</td>
                <td>10:00 AM</td>
                <td>11:00 AM</td>
                <td>External</td>
                <td>Weekly</td>
                <td><button class="edit-btn"><i class="fas fa-edit"></i></button></td>
                <td><button class="delete-btn"><i class="fa-solid fa-trash"></i></button></td>
            </tr>

            <tr>
                <td>2</td>
                <td>Workshop</td>
                <td>Room B</td>
                <td>2025-09-16</td>
                <td>2:00 PM</td>
                <td>4:00 PM</td>
                <td>Internal</td>
                <td>One time</td>
                <td><button class="edit-btn"><i class="fas fa-edit"></i></button></td>
                <td><button class="delete-btn"><i class="fa-solid fa-trash"></i></button></td>
            </tr>
        </tbody>

    </table>

</div>
