<div class="dashboard-container">

    <div class="btn-center">
        <button class="btn-filter" (click)="openModal()">Filter <i class="fa-solid fa-filter"></i></button>
    </div>

    <!-- @Input() show = false; // input property from parent
    @Output() close = new EventEmitter<void>(); // output event to notify parent -->

    <app-modal [show]="isModalOpen" (close)="closeModal()">

    </app-modal>

    <div class="rooms-grid">
        @for (room of rooms; track room.roomId) {
        <div class="room-card">
            <div class="room-image">
                <img [src]="'/assets/rooms/room' + room.roomId  + '.png'" alt="{{ room.name }}">

                <i *ngIf="room.roomType === 'VIP'" class="fa-solid fa-crown crown-icon"></i>
            </div>
            <div class="room-details">
                <h2>{{ room.name }}</h2>
                <div class="room-capacity">
                    <i class="fa fa-user icon"></i>
                    <div>{{ room.capacity }}</div>
                </div>
            </div>
        </div>
        }
    </div>
</div>